include ../partials/mixins

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    block vars
    - var title = title + ": " + meta.name || meta.name
    - var description = description || meta.description
    title=title
    meta(name='description' content=description)
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='keywords' content=meta.keywords.toString())
    link(rel="stylesheet" href="assets/main.css")
body
  header.docs-header
    include ../partials/header
  main.docs-main
    .container
      block content
  footer.docs-footer.jumbotron
    include ../partials/footer
  block scripts
    script(async defer src="https://buttons.github.io/buttons.js")
    script(src="assets/main.js")
    script.
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-68262372-6','auto');ga('send','pageview')
    script(async defer src="https://www.google-analytics.com/analytics.js")

