@import "~highlight.js/styles/github";

body {
  padding-top: 50px;
}

.docs-main h2 {
  margin-top: 50px;
}

.alert.alert-info h3 {
  margin-top: 0;
}

.docs-footer {
  &.jumbotron {
    margin-bottom: 0;
    margin-top: 100px;
  }
}

.docs-header {
  .jumbotron {
    background: #4585d4;
    color: #fff;
    .text-muted {
      color: darken(#fff, 15%);
    }
    iframe {
      margin-left: 5px;
    }
  }
}
