- var footerLinks = [
- { label: "GitHub", href: "https://github.com/PascaleBeier/bootstrap-validate" },
- { label: "Twitter", href: "https://twitter.com/PascaleBeier" },
- { label: "Website", href: "https://pascalebeier.de" },
- { label: "Imprint (German)", href: "https://pascalebeier.de/impressum" },
- { label: "Privacy Policy (German)", href: "https://pascalebeier.de/datenschutz" }
- ];
div.container
  p #{meta.name} is open-source and #{meta.license}-Licensed.
  nav.nav.nav-pills
    each link in footerLinks
      li.nav-item(role='presentation')
        a.nav-link(href=link.href)=link.label


