extends layouts/app

block content
  .container

    .panel.panel-primary
      .panel-heading Demo
      .panel-body
        p See for yourself and enter an email address. Well, rather not!
        .form-group
          label.control-label(for='docs-demo') Enter your E-Mail Address :)
          input.form-control(id='docs-demo' placeholder='jon@example.org')

    h3 Behind the scenes
    p Literally a no-brainer!

    section
      h4 HTML:
      pre
        code.html
          | &lt;div class="form-group"&gt;
          |   &lt;label&gt;Enter your E-Mail Address :)&lt;/label&gt;
          |   &lt;input id="docs-demo" class="form-control"&gt;
          | &lt;/div&gt;

    section
      h4 JavaScript:
      pre
        code.javascript &lt;script&gt;bootstrapValidate('#docs-demo', 'email:Enter a valid E-Mail Address!');&lt;/script&gt;

    p.lead
      | Easy as
      i.fa.fa-fw.fa-2x.fa-birthday-cake(aria-hidden=true)
      |  right?


    a.btn.btn-lg.btn-primary(style='display: inline-block; margin-bottom: 50px;') Learn how to use it

block append scripts
  script(src='https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/1.0.8/dist/bootstrap-validate.js')
  script.
    bootstrapValidate('#docs-demo', 'email:Enter a valid E-Mail Address!')
