extends layouts/app

block vars
  - var title = "Documentation"

block content
  section
    h2 Demo Time
    .form-group
      label(for='docs-demo') Form Validation for Bootstrap couldn't be easier!
      input.form-control(id='docs-demo' placeholder='jon@example.org')


  .row.mt-4

    section.col-md-6
      h4 JavaScript:
      pre
        code.javascript
          | bootstrapValidate(
          |    '#docs-demo',
          |    'email:Enter a valid E-Mail Address!'
          | );

    section.col-md-6
      h4 HTML:
      pre
        code.html
          | &lt;div class="form-group"&gt;
          |   &lt;input id="docs-demo" class="form-control"&gt;
          | &lt;/div&gt;



  section
    h2 Download

    p You can grab the latest version for Bootstrap 4 from
      a(href='https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/' + meta.version + '/dist/bootstrap-validate.js')
        |  RawGit
      |. You can use it as a CDN as well!
    pre.mb-4
      code.html
        | &lt;script src="https://cdn.rawgit.com/PascaleBeier/bootstrap-validate/#{meta.version}/dist/bootstrap-validate.js" &gt;&lt;/script&gt;

    h3.mt-4 Looking for Bootstrap 3?

    p You can find older Releases in our&nbsp;
      a(href="download.html") Download Section

    section
      h2 Further Reading
      p Learn how to use #{meta.name} and its available validation rules.
      .btn-group.btn-group-lg(role="group" aria-label="Where to get started using #{meta.name}")
        a.btn.btn-primary(href="usage.html") Usage
        a.btn.btn-outline-primary(href="installation.html") Installation

block append scripts
  script.
    bootstrapValidate('#docs-demo', 'email:Enter a valid E-Mail Address!')
