doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css' rel='stylesheet'
      integrity='sha256-916EbMg70RQy9LHiGkXzG8hSg9EdNy97GazNG/aiY1w=' crossorigin='anonymous')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'
      integrity='sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=' crossorigin='anonymous')
    title bootstrap-validate
    meta(name='description' content='The easiest way to validate your Bootstrap forms. Maybe.')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js')
    link(href='https://cdn.rawgit.com/isagalaev/highlight.js/master/src/styles/github.css' rel='stylesheet')
body
  header.docs-header
    include ../partials/header
  main.docs-main
    block content
  footer.docs-footer
    include ../partials/footer
  block scripts
    script.
        hljs.initHighlightingOnLoad();