---
name: Create Release

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    name: Create release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Extract release notes
        id: extract-release-notes
        uses: ffurrer2/extract-release-notes@v1
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
      - name: Get the tag name
        run: echo "TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
      - name: Create release
        uses: softprops/action-gh-release@v0.1.8
        with:
          name: Release ${{ env.TAG }}
          draft: false
          prerelease: false
          body: ${{ steps.extract-release-notes.outputs.release_notes }}
          files: dist/bootstrap-validate.js
          token: ${{ secrets.PAT }}
